<section class="section hidden-xs thumbnail-contents">
    <div class="container">
        <div class="text-center">
            <h2>Son Eklenen Seyahat Yazıları</h2>
        </div>
        <div class="row grid">
            <div class="col-sm-4 text-center grid-bottom pl-20 pr-20">
                <img src="/Uploaded/Media_Content_dd249e4c-b0ee-4681-996d-a46889c32d71X.jpg" class="img-rounded grid-bottom max-width-100">
                <h4>Uzun aktarmalarda yapılabilecek 6 şey</h4>
                <p>Bağlantılı uçuşlar arasında bekleme süresi olarak da bilinen aktarmaların fazla uzun sürmesi pek istenen bir durum sayılmaz.</p>
                <br>
                <a href="https://www.keyiflibilet.com/tr/blog/uzun-aktarmalarda-yapilabilecek-6-sey" class="bold">Detaylı bilgi<span class="fa fa-angle-double-right red"></span></a>
            </div>
            <div class="col-sm-4 text-center grid-bottom pl-20 pr-20">
                <img src="/Uploaded/Media_Content_a5299e0c-f58c-4258-8238-b6c111f1be81X.jpg" class="img-rounded grid-bottom max-width-100">
                <h4>El bagajına alınabilecekler ve alınamayacaklar</h4>
                <p>Özellikle uçağa biniş ve iniş sırasında zaman kazandıran el bagajı birkaç günlük kısa tatillerde tam bir hayat kurtarıcı olabiliyor. </p>
                <br>
                <a href="https://www.keyiflibilet.com/tr/blog/el-bagajina-alinabilecekler-ve-alinamayacaklar" class="bold">Detaylı bilgi<span class="fa fa-angle-double-right red"></span></a>
            </div>
            <div class="col-sm-4 text-center grid-bottom pl-20 pr-20">
                <img src="/Uploaded/Media_Content_e1e9ca6d-6c12-406e-bb24-991fabaf1cdfX.jpg" class="img-rounded grid-bottom max-width-100">
                <h4>Uçus öncesinde dikkat edilecek kurallar</h4>
                <p>Uçağa binmeden önce ve uçakta her yolcunun uyması gereken bazı kurallar vardır. Bu kuralların uygulanması güvenlik açısından gerekmektedir</p>
                <br>
                <a href="https://www.keyiflibilet.com/tr/blog/ucus-oncesinde-dikkat-edilecek-kurallar" class="bold">Detaylı bilgi<span class="fa fa-angle-double-right red"></span></a>
            </div>
        </div>
    </div>
</section>
