<section class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6">
                <div class="text-center">
                    <i class="ico-color ico-lg ico-rounded ico-hover flaticon-lock"></i>
                    <h4>İnternette Güvenli Alışveriş</h4>
                    <p class="size-14">256 Bit SSL şifreleme</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="text-center">
                    <i class="ico-color ico-lg ico-rounded ico-hover flaticon-transport-5"></i>
                    <h4>İptal Edilebilen Biletlerde İade</h4>
                    <p class="size-14">24 saat kalana kadar tam para iadesi</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
                <div class="text-center">
                    <i class="ico-color ico-lg ico-rounded ico-hover flaticon-clock"></i>
                    <h4>Sürekli Destek</h4>
                    <p class="size-14">Call Center üzerinden anında ve sürekli destek</p>
                </div>
            </div>
        </div>
    </div>
</section>

