<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <p class="margin-bottom-10">Yeniliklerden <strong>Haberdar Ol</strong></p>

                <form action="https://www.keyiflibilet.com/Form/SaveMailGroup?Length=4" class="validate" data-ajax="true" data-ajax-method="POST" data-ajax-success="WDT.Member.MailGroupSuccess(data)" id="frmMailGroup" method="post" novalidate="novalidate">
                    <div class="input-group">
                        <input autocomplete="off" class="form-control" data-val="true" data-val-required="Lütfen email adresinizi giriniz !" id="txtGREmail" name="Email" placeholder="Lütfen mail adresinizi giriniz" type="text" value="">
                        <span class="input-group-btn">
                            <button class="btn" type="submit">Kaydol</button>
                        </span>
                    </div>
                    <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>    <span id="spnResultMG" style="color:red"></span>
                </form>

            </div>

            <div class="col-md-2 col-sm-6  col-md-push-3 hidden-xs ">
                <div class="margin-left-20 clearfix">
                    <p class="margin-bottom-10">Bizi <strong>Takip Edin</strong></p>
                    <a href="https://www.facebook.com/adasturizm/" target="_blank" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/adas_turizm/" target="_blank" class="social-icon social-icon-sm social-icon-transparent social-instagram pull-left" data-toggle="tooltip" data-placement="top" title="Instagram">
                        <i class="icon-instagram"></i>
                        <i class="icon-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-md-push-3 hidden-xs right">
                <div class="margin-left-50 clearfix">
                    <p class="margin-bottom-10">Call <strong>Center</strong></p>
                    <a href="tel://08505504114" class="pull-left call-center">
                        <i class="flaticon-clock"></i>
                        +90 850 550 41 14
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-md-push-3 hidden-xs right">
                <img src="/Content/assets/images/iata.png" class="footer-mark">
                <img src="/Content/assets/images/tursab.png" class="footer-mark">
                <span class="footer-text">10587</span>
            </div>

        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <ul class="nomargin list-inline mobile-block">
                <li><a href="https://www.keyiflibilet.com/tr/hakkimizda">Hakkımızda</a></li>
                <li><a href="https://www.keyiflibilet.com/tr/iletisim">İletişim</a></li>
                <li><a href="https://www.keyiflibilet.com/tr">Ana Sayfa</a></li>
            </ul>
            <br>
            © Tüm hakları saklıdır, Z Arslan Turizm İnş. San. Ve Tic. LTD. ŞTİ  2018
        </div>
    </div>
</footer>
