<div class="parallax-1">
    <div class="story">
        <div class="float-left">
            <h2>Keyifle Seyahat Edin!</h2>
            <p>PNR koduna gerek kalmadan tüm rezervasyonlarınıza kolayca ulaşabilir, üyelerimize özel kampanyalarımızdan yararlanabilirsiniz.</p>
            <button class="btn btn-lg" type="button" data-toggle="modal" data-target=".bs-example-modal-sm">
                Şimdi Üye Ol <i class="ei-angle-double-right"></i>
            </button>
        </div>
    </div>
</div>


