
    @*<div id="adas-home-background">
        <div id="layerslider" style="width: 100%; height: 100%; visibility: visible;" class="ls-container ls-noskin">
            <div class="ls-inner" style="background-color: transparent; width: 965px; height: 526px;">
                <div class="ls-lt-container ls-overflow-hidden" style="width: 965px; height: 526px; display: block;"><div class="ls-curtiles" style="overflow: hidden;"><div class="ls-lt-tile" style="width: 965px; height: 526px; overflow: hidden;"><div class="ls-curtile"><img src="/Uploaded/Media_Content_7eacbe6d-bdae-4e9c-9171-77c4a0a14c9bX.jpg" style="width: 1920px; height: 1080px; margin-left: -477.5px; margin-top: -277px;"></div></div></div><div class="ls-nexttiles"><div class="ls-lt-tile" style="width: 965px; height: 526px; overflow: hidden;"><div class="ls-nexttile" style="top: 0px; left: 0px; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><img src="/Uploaded/Media_Content_43cbc0ec-4cf9-4695-a1b5-76bb9d7bdab4X.jpg" style="width: 1920px; height: 1080px; margin-left: -477.5px; margin-top: -277px;"></div></div></div></div><div class="ls-slide ls-slide-1" data-ls="transition2d:5; slidedelay: 5000;" style="width: 0px; height: 526px; visibility: visible; display: none; left: 0px; right: auto; top: auto; bottom: 0px;">
                    <img src="/Uploaded/Media_Content_7eacbe6d-bdae-4e9c-9171-77c4a0a14c9bX.jpg" class="ls-bg ls-preloaded" style="width: 1920px; height: 1080px; margin-left: -477.5px; margin-top: -277px; visibility: hidden;"><div class="ls-gpuhack"></div>
                    <h1 class="mp-slider-lbl ls-l" data-ls="offsetxout -1920; offsetxin 1920" style="top: 77.7px; width: 1291.15px; left: -163px; visibility: hidden; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -80, 0, 0, 1); opacity: 1; filter: none;">En Keyifli Yolculuklar</h1>
                    <h3 class="mp-slider-lbl-a ls-l" data-ls="offsetxout -1920; offsetxin 1920" style="top: 142.8px; width: 1291.15px; left: -163px; visibility: hidden; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -80, 0, 0, 1); opacity: 1; filter: none;">Keyifli Bilet ile Başlar!</h3>
                </div><div class="ls-slide ls-slide-2 ls-active" data-ls="transition2d:5; slidedelay: 5000;" style="width: 965px; height: 526px; left: 0px; right: auto; top: 0px; bottom: auto; visibility: visible; display: none;">
                    <img src="/Uploaded/Media_Content_43cbc0ec-4cf9-4695-a1b5-76bb9d7bdab4X.jpg" class="ls-bg ls-preloaded" style="width: 1920px; height: 1080px; margin-left: -477.5px; margin-top: -277px; visibility: visible;"><div class="ls-gpuhack"></div>
                    <h1 class="mp-slider-lbl ls-l" data-ls="offsetxout -1920; offsetxin 1920" style="top: 77.7px; width: 820.25px; left: 72.5px; filter: none; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; visibility: visible;">En Keyifli Yolculuklar</h1>
                    <h3 class="mp-slider-lbl-a ls-l" data-ls="offsetxout -1920; offsetxin 1920" style="top: 142.8px; width: 820.25px; left: 72.5px; filter: none; margin-left: 0px; margin-top: 0px; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); opacity: 1; visibility: visible;">Keyifli Bilet ile Başlar!</h3>
                </div><div class="ls-circle-timer" style="display: block;"><div class="ls-ct-left"><div class="ls-ct-rotate" style="transform: matrix3d(-0.989026, 0.14774, 0, 0, -0.14774, -0.989026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);"><div class="ls-ct-hider"><div class="ls-ct-half"></div></div></div></div><div class="ls-ct-right"><div class="ls-ct-rotate" style="transform: matrix(-1, 0, 0, -1, 0, 0);"><div class="ls-ct-hider"><div class="ls-ct-half"></div></div></div></div><div class="ls-ct-center"></div></div>
            </div>

            <div class="ls-loading-container" style="z-index: -1; display: none;"><div class="ls-loading-indicator"></div></div><a class="ls-nav-prev" href="#" style="visibility: visible; display: none;"></a><a class="ls-nav-next" href="#" style="visibility: visible; display: none;"></a><div class="ls-bottom-nav-wrapper" style="visibility: visible;"><a class="ls-nav-start ls-nav-start-active" href="#"></a><span class="ls-bottom-slidebuttons"><a href="#" class=""></a><a href="#" class="ls-nav-active"></a><div class="ls-thumbnail-hover" style="width: 100px; height: 60px;"><div class="ls-thumbnail-hover-inner" style="visibility: hidden; display: block;"><div class="ls-thumbnail-hover-bg"></div><div class="ls-thumbnail-hover-img" style="width: 100px; height: 60px;"><img style="height: 60px;"></div><span></span></div></div></span><a class="ls-nav-stop" href="#"></a></div><div class="ls-shadow"></div>
        </div>
    </div>*@
   

<div id="adas-home-background">
    <div id="layerslider" style="width:100%; height: 100%;">
        <div class="ls-slide" data-ls="transition2d:5; slidedelay: 5000;">
            <img src="Uploaded/Media_Content_7eacbe6d-bdae-4e9c-9171-77c4a0a14c9bX.jpg" class="ls-bg">
            <h1 class="mp-slider-lbl ls-l" data-ls="offsetxout -1920; offsetxin 1920" style="top:20%;  width:85%; left:50%;">En Keyifli Yolculuklar</h1>
            <h3 class="mp-slider-lbl-a ls-l" data-ls="offsetxout -1920; offsetxin 1920" style="top:30%;  width:85%; left:50%;">Keyifli Bilet ile Başlar!</h3>
        </div>
        <div class="ls-slide" data-ls="transition2d:5; slidedelay: 5000;">
            <img src="/Uploaded/Media_Content_43cbc0ec-4cf9-4695-a1b5-76bb9d7bdab4X.jpg" class="ls-bg">
            <h1 class="mp-slider-lbl ls-l" data-ls="offsetxout -1920; offsetxin 1920" style="top:20%;  width:85%; left:50%;">En Keyifli Yolculuklar</h1>
            <h3 class="mp-slider-lbl-a ls-l" data-ls="offsetxout -1920; offsetxin 1920" style="top:30%;  width:85%; left:50%;">Keyifli Bilet ile Başlar!</h3>
        </div>
    </div>
</div>

