

<form id="myForm" action="@Url.Action("KutuKategoriEkle", "Panel")" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <div id="listOfCustomers" style="height: 400px; overflow: auto;">

      
        <div class="form-group">
            <label>KUTU KATEGORİ</label>
            <input class="form-control" type="text" name="kutuKategori" id="kutuKategori" placeholder="KUTU KATEGORİ" required="required">
        </div>
    
        <div class="box-footer">
            <button class="btn btn-xs btn-danger" id="btnSubmit" href="@Url.Action("KutuKategoriEkle", "Panel" )">
                <span> EKLE</span>
            </button>
        </div>


    </div>


</form>

