@model KeyifliBilet.Areas.Yonetim.Models.IndexViewModel
    @foreach (var item in Model.sayfaMultiMedia)
    {
<form id="myForm" action="@Url.Action("SayfaMultimediaGuncelle", "Panel",new {MultimediaId=item.MultiMediaId })" method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <div id="listOfCustomers" style="height: 400px; overflow: auto;">


        <div class="form-group">
            <h3 class="sbold">Yüklemek istediğiniz görseli bu alana sürükleyin, yada dosya seçmek için tıklayın</h3>
            <div class="dz-default dz-message">
                <input class="form-control" type="file" name="resim" id="resim" placeholder="GÖRSEL" required="required">

            </div>
        </div>

        <div class="box-footer">
            <button class="btn btn-xs btn-danger" id="btnSubmit" href="@Url.Action("SayfaMultimediaGuncelle", "Panel",new {MultimediaId=item.MultiMediaId })">
                <span> DÜZENLE </span>
            </button>
        </div>


    </div>


</form>
    }


