@model KeyifliBilet.Areas.Yonetim.Models.IndexViewModel
@{
    ViewBag.Title = "SmsKategori";
    Layout = "~/Areas/Yonetim/Views/Shared/MasterPage.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Sms Kategorileri</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="delete btn btn-info" onclick="SmsKategoriEkle()"> Kategori Ekle</a>

                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">

                                <table id="myTable" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Açıklama</th>
                                            <th>Kod</th>
                                            <th>Düzenle</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.smsKategori.Count() != 0)
                                        {
                                            foreach (var item in Model.smsKategori)
                                            {
                                                <tr class="odd gradeX" id="row_@item.SmsKategoriId">
                                                    <td>@item.Aciklama</td>
                                                    <td>@item.Kod</td>
                                                    <td>   <a class="btn btn-success" onclick="SmsKategoriGuncelle(@item.SmsKategoriId)"><i class="glyphicon glyphicon-pencil"></i> </a></td>

                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <div class="alert alert-info">Sms Kategorisi bulunmamaktadır.</div>
                                        }
                                    </tbody>
                                </table>

                                <script>
                                    $('#myTable').DataTable();
                                </script>
                                <div class="pagination"></div>
                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
    </section>
</section>
<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Kategori Düzenleme</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">


            </div>


        </div>

    </div>

</div>
<div class="modal fade" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Kategori Ekleme</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv2">


            </div>


        </div>

    </div>

</div>

<script>


    var SmsKategoriEkle = function () {

        var url = "/Yonetim/Panel/SmsKategoriEkle";

        $("#myModalBodyDiv2").load(url, function () {
            $("#myModal2").modal("show");

        })

    }
</script>

<script>


    var SmsKategoriGuncelle = function (SmsKategoriId) {

        var url = "/Yonetim/Panel/SmsKategoriGuncelle?SmsKategoriId=" + SmsKategoriId;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })

    }
</script>

