<div class="row clearfix">
    <div class="col-lg-6">
        <h3 class="size-14 mb-sm-1">Ödeme Bilgileri</h3>
    </div>
    <div class="col-lg-6">
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-6">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="control-label">Kart Üzerindeki İsim</label>
                <input class="form-control" data-val="true" data-val-required="Kart üzerindeki isim soyisim bilgisini giriniz !" id="PaymentForm_CardNameSurname" name="PaymentForm.CardNameSurname" placeholder="Kart üzerindeki isim soyisim" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="PaymentForm.CardNameSurname" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Kredi Kartı Numarası</label>
                <input class="form-control" data-val="true" data-val-required="Kart numarasını giriniz !" id="PaymentForm_CardNumber" name="PaymentForm.CardNumber" placeholder="Kart numarası" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="PaymentForm.CardNumber" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="control-label">Ay</label>
                <select class="form-control" data-val="true" data-val-required="Son kullanma tarihi ay seçiniz !" id="PaymentForm_CardMonth" name="PaymentForm.CardMonth">
                    <option value="01">01 - Ocak</option>
                    <option value="02">02 - Şubat</option>
                    <option value="03">03 - Mart</option>
                    <option value="04">04 - Nisan</option>
                    <option value="05">05 - Mayıs</option>
                    <option value="06">06 - Haziran</option>
                    <option value="07">07 - Temmuz</option>
                    <option value="08">08 - Ağustos</option>
                    <option value="09">09 - Eylül</option>
                    <option value="10">10 - Ekim</option>
                    <option value="11">11 - Kasım</option>
                    <option value="12">12 - Aralık</option>
                </select>
                <span class="field-validation-valid" data-valmsg-for="PaymentForm.CardMonth" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Yıl</label>
                <select class="form-control" data-val="true" data-val-required="Son kullanma tarihi yıl seçiniz !" id="PaymentForm_CardYear" name="PaymentForm.CardYear">
                    <option value="18">2018</option>
                    <option value="19">2019</option>
                    <option value="20">2020</option>
                    <option value="21">2021</option>
                    <option value="22">2022</option>
                    <option value="23">2023</option>
                    <option value="24">2024</option>
                    <option value="25">2025</option>
                    <option value="26">2026</option>
                    <option value="27">2027</option>
                </select>
                <span class="field-validation-valid" data-valmsg-for="PaymentForm.CardYear" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Cvv</label>
                <input autocomplete="Off" class="form-control col-md-6" data-val="true" data-val-required="Kart güvenlik numarasını giriniz !" id="PaymentForm_CardCVV" name="PaymentForm.CardCVV" type="text" value="">
                <span class="field-validation-valid" data-valmsg-for="PaymentForm.CardCVV" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
    </div>
</div>
