<header class="cd-header">
    <div id="cd-logo"><a href="/"><img src="/Content/assets/images/logo.png" alt="Adaş Turizm"></a></div>


    <nav class="hidden-xs">
        <ol class="keyifli-breadcrumb triangle custom-icons">
            <li class="current"><a><i class="flaticon-transport"></i> UÇUŞ SEÇİMİ</a></li>
            <li><a><i class="flaticon-people-1"></i> YOLCU BİLGİLERİ</a></li>
            <li><em><i class="flaticon-commerce"></i> ÖDEME</em></li>
        </ol>
    </nav>

    <nav class="cd-main-nav">
        <ul>
            <li><a href="/tr/iptal-iade">İptal / İade</a></li>
            <li class="divider"></li>
            <li><a href="/tr/online-check-in">Online Check-In</a></li>
            <li class="divider"></li>
            <li><a href="/tr/iletisim">İletişim</a></li>
            <li class="right dropdown">
                <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TR</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">EN</a>
                </div>
            </li>
            <li class="right"><a href="#" data-toggle="modal" data-target=".bs-example-modal-sm" tabcontent="login" class="btnMember"><i class="icon-user"></i> Giriş Yap</a></li>
            <li class="divider right"></li>
            <li class="right"><a href="#" data-toggle="modal" data-target=".bs-example-modal-sm" tabcontent="register" class="btnMember">Üye Ol</a></li>
            <li class="divider right"></li>
            <li class="right phone"><a href="tel://08505504114 "><i class="icon-phone3"></i> 0850 550 41 14</a></li>

        </ul>
    </nav>

    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm" tabcontent="login" class="btnMember visible-xs"><i class="icon-user"></i> Giriş Yap</a>
</header>


