
@{
    ViewBag.Title = "IptalIade";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
@Html.Action("HeaderIndex", "Home")
<section class="mt-sm-5 mt-5">
    <div class="container mt-sm-5">
        <div class="heading-title heading-border">
            <h1 class="text-black">İptal / İade</h1>
            <p class="font-lato size-19">Her hava yolunun, her farklı fiyatı için iptal, iade ve değişiklik ile ilgili farklı uygulamaları olduğundan biletinizi satın almadan önce bu kuralları dikkatlice okumanızı öneririz.</p><p></p><p></p>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="columnize-2">
                    <br>
                    <h2 class="size-20">Biletimin iptali durumunda ceza kuralları nelerdir?</h2>
                    <p>Bilet satın alma işlemi sırasında veya opsiyonlu rezervasyon yapma aşamasında tercih ettiğiniz uçuş için sitemizde yer alan “<b>Uçuş kuralları</b>” bölümünde iptal, iade ve değişlik kuralları mevcuttur.</p>                        <h2 class="size-20">Önemli Uyarı!</h2>
                    <p>Hava yolları, değişiklik ve iptal şartlarında farklı uygulama başlattığı takdirde güncel uygulama dikkate alınır. Söz konusu güncellemelerin hava yolu tarafından geç bildirilmesinden <b>keyiflibilet.com</b> sitesi sorumlu olmamaktadır.</p>                        <h2 class="size-20">Biletimi nasıl iptal edebilirim?</h2>
                    <p>Bilet satın alma işlemlerinin web sitemizden yapılması halinde, <b>+90 850 550 4114</b> numaralı çağrı merkezimizi veya ilgili hava yolunun çağrı merkezini arayarak iptal işleminizi yaptırabilirsiniz.</p>                        <h2 class="size-20">Bilet iadesini nasıl geri alabilirim?</h2>
                    <p>
                        Bilet iptal işleminizi ilgili hava yolu çağrı merkezinden yaptırmışsanız <b>+90 850 550 4114</b> numaralı çağrı merkezimizi arayıp e-bilet numaranızı bildirerek biletiniz için iade talebinde bulunabilirsiniz.
                    </p><p>
                        İlgili hava yolunun çağrı merkezinden yaptırılmış olan rezervasyon iptal işlemlerinde, eğer iptal edildiği bilgisi ve iade talebi tarafımıza bildirilmemiş ise biletlerin iade süreci <b>Keyiflibilet.com</b> tarafından başlatılamamış olacaktır. İptalin hava yolu ile görüşülerek yapıldığı durumlarda, iadenizi talep etmek için mutlaka <b>+90 850 550 4114</b> numaralı destek hattımıza başvurmanız gerekmektedir.
                    </p><p>
                        Biletinizin iadesi tarafımızdan talep edildiği tarihten itibaren hava yolu ile bağlantıya geçilecek olup, gelecek olan iade rakamı doğrultusunda, tarafımıza ödeme yaptığınız aşağıdaki hallerden biri ile tarafınıza iade işlemi yapılacaktır.
                    </p><p>
                        Kredi kartı (taksit veya tek çekim) ile yapılan ödemelerde aynı karta iade Havale ile yapılan ödemelerde tekrar aynı hesaba, havale yolu ile iade Nakit ödemelerde, ödeme yapan kişiye imzalı makbuz karşılığında iade.
                    </p><p>Keyiflibilet, hava yolu ile siz değerli yolcularımız arasında aracı kurum durumundadır. İadeleriniz, ilgili hava yolundan onay alındıktan ve geri ödemesi hava yolu tarafından bize yapıldıktan sonra, belli devrelerde (yaklaşık 1 ay sonra) yukarıda ifade ettiğimiz kapsamlarda gerçekleştirilecektir. Hava yolundan geri ödeme alınmadan tarafınıza iade yapılması mümkün değildir.</p>                        <h2 class="size-20">Hizmet bedelini de geri alabilir miyim?</h2>
                    <p>İade işleminiz başlatıldığında, biletleme esnasında ödemiş olduğunuz <b>Hizmet Bedeli</b> iade edilmeyecek olup, iade işlemlerinde ayrıca bir hizmet bedeli alınmayacaktır.</p>
                </div>
            </div>
        </div>


    </div>
</section>
@Html.Action("Footer", "Home")
@Html.Action("PartialSignUp", "Home")

