
@{
    ViewBag.Title = "OnlineCheckIn";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
@Html.Action("HeaderIndex", "Home")
<section class="mt-sm-5 mt-5">
    <div class="container mt-sm-5">
        <div class="heading-title heading-border">
            <h1 class="text-black">Online Check-In</h1>
            <p class="font-lato size-19"><p>Satın almış olduğunuz biletin <b>Sms</b> veya <b>Email</b> yolu ile gönderilen <b>PNR</b> numarası ile havayolu şirketine ait web sitesinden koltuk seçiminizi yapabilirsiniz. Satın almış olduğunuz biletlere ait havayolu şirketlerinin <b>Online Check-In</b> bağlantıları aşağıda listelenmiştir.</p>
            </p>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="columnize-2">
                    <br />
                    <h2 class="size-20">Ne Zaman Online Check-in yapmalıyım?</h2>
                    <p><span style="font-weight: 700;">Online Check-In</span>&nbsp;süresi havayolu şirketlerine göre farklılık göstermektedir. Genellikle uçuşa&nbsp;<span style="font-weight: 700;">24 saat</span>&nbsp;kala başlayan&nbsp;<span style="font-weight: 700;">Online Check-In</span>&nbsp;süresi, uçuşa&nbsp;<span style="font-weight: 700;">90 dakika</span>&nbsp;kalaya kadar sürer.<br></p>                        <h2 class="size-20">Ne Kadar &#214;ncesinden Havalimanında Olmalıyım?</h2>
                    <p><b>İç hat</b> seferleri için uçak kalkış saatinden <b>60 dakika</b> önce, <b>dış hatlar ve Lefkoşa</b> için uçak kalkış saatinden en geç <b>120 dakika</b> önce biniş kapısında olmaları gerekir.</p>
                </div>
            </div>
        </div>

        <div class="row row-checkin mt-30">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://online.atlasglb.com/AtlasOnline/online-check-in/" class="text-center" target="_blank"><img src="~/Content/Airlines/KK.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://www.turkishairlines.com/tr-at/ucak-bileti/rezervasyonu-yonet/#tcm151-2445" class="text-center" target="_blank"><img src="~/Content/Airlines/TK.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://online.anadolujet.com/checkin?lang=tr-TR" class="text-center" target="_blank"><img src="~/Content/Airlines/AN.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://www.sunexpress.com/tr/online-check-in/" class="text-center" target="_blank"><img src="~/Content/Airlines/XQ.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://www.flypgs.com/check-in" class="text-center" target="_blank"><img src="~/Content/Airlines/PC.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://book.onurair.com/web/ICIPNRSearch.xhtml" class="text-center" target="_blank"><img src="~/Content/Airlines/8Q.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="row row-checkin mt-30">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://www.united.com/travel/checkin/start.aspx" class="text-center" target="_blank"><img src="~/Content/Airlines/UA.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://www.britishairways.com/travel/olcilandingpageauthreq/public/en_gb?eid=104511" class="text-center" target="_blank"><img src="~/Content/Airlines/BA.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://ocki.flyuia.com/checkin/#/login" class="text-center" target="_blank"><img src="~/Content/Airlines/PS.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://www.lufthansa.com/online/portal/lh/tr/informationservice/checkin/web_checkin" class="text-center" target="_blank"><img src="~/Content/Airlines/LH.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="http://www.etihad.com/tr-tr/before-you-fly/check-in-online/" class="text-center" target="_blank"><img src="~/Content/Airlines/EY.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://www.aeroflot.ru/sb/ckin/app/ru-en#/search_pnrs?_k=zo0vra" class="text-center" target="_blank"><img src="~/Content/Airlines/SU.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="row row-checkin mt-30">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://www.airfrance.fr/FR/en/local/core/engine/echeckin/IciFormAction.do" class="text-center" target="_blank"><img src="~/Content/Airlines/AF.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://cki.qatarairways.com/cki-web/pages/search.xhtml" class="text-center" target="_blank"><img src="~/Content/Airlines/QR.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://www.klm.com/ams/checkin/web/kl/tr/tr" class="text-center" target="_blank"><img src="~/Content/Airlines/KL.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://www.swiss.com/ch/EN/profile/login" class="text-center" target="_blank"><img src="~/Content/Airlines/LX.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://icheck.sita.aero/iCheckWebJ2/" class="text-center" target="_blank"><img src="~/Content/Airlines/J2.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <div class="single-search-popular checkin text-center">
                    <a href="https://checkin.airmoldova.md/ck.fly#ck_retrieve" class="text-center" target="_blank"><img src="~/Content/Airlines/9U.png" alt=""></a>
                </div>
            </div>
        </div>

    </div>
</section>

@Html.Action("Footer", "Home")
@Html.Action("PartialSignUp", "Home")